Django==3.1.7
pillow==8.1.0
django-heroku==0.3.1
gunicorn==20.0.4
whitenoise===5.2.0
django-filter===2.4.0
django-storages===1.11.1
boto3===1.17.40
django-environ===0.4.5
requests==2.26.0
dj-database-url==0.5.0
