{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    <div style="padding: 2px; display: flex; justify-content: center">
        <div style="width: 18rem; border: 1px solid rgba(0,0,0,.125)">
            <img class="card-img-top" src="{{ listing.image.url }}" alt="{{ listing.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <p class="card-text"><strong>Price: ${{ listing.starting_price }}</strong></p>
                {% if user.is_authenticated %}
                    <!-- @@@ {{ listing.track_user }}
                        {{ bid_at }} -->
                    {% if not cant_bid %}
                        <form action="{% url 'bid' listing.id %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if error_clean_bid %}
                                <p>Can't be lower than the number of price and
                                must bid greater than $2</p>
                            {% endif %}
                            {% if wait_for_three_min%}
                                <p>You can bid again after 3 minutes</p>
                            {% endif %}
                            <input class="btn btn-primary" type="submit" value="Bid">
                        </form>
                    {% endif %}
                {% else %}
                    <p><a href={% url 'login' %}>Login</a> to bid on the listing!</p>
                {% endif %}
                <br>
                {% if user.is_authenticated %}
                    <form action="{% url 'watchlist' listing.id %}" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Add watch list">
                    </form>
                    <br>
                    {% if matches_user %}
                        <form action="{% url 'closebid' listing.id %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-warning" type="submit" value="Close bid">
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            <! -- @@@ -->
            {{ time_in_database_hr }}:{{ time_in_database_min }}
            <div class="card-footer">
                <small class="text-muted">{{ listing.create_at }} by: {{ listing.owner.username }}</small>
            </div>
        </div>
    </div>
    <br>
    <div class="bd-example" style="border: 1px solid rgba(0,0,0,.125)">
        {% for i in comment_message %}
            <p>{{ i.user }} -> {{ i.comment }}</p>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <form action="{% url 'comment' listing.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit">
        </form>
    {% endif %}
{% endblock %}
