{% extends "auctions/layout.html" %} {% block body %} {% if message %}
<div class="form-group">{{ message }}</div>
{% endif %}

<form action="{% url 'register' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <input
      class="form-control"
      autofocus
      type="text"
      name="username"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="email"
      name="email"
      placeholder="Email Address"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="password"
      name="password"
      placeholder="Password"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="password"
      name="confirmation"
      placeholder="Confirm Password"
    />
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Register" />
  </div>
</form>
<div class="form-group">
  Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>
{% endblock %}
