{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watch list</h2>

    {% if request.user.is_authenticated %}
        <div style="display: flex;">
            {% for wlisting in user_watchlisting %}
                <div class="card-deck" style="width: 18rem; padding: 2px;">
                    <div class="card">
                        <img class="card-img-top" src="{{ wlisting.image.url }}" alt="{{ wlisting.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ wlisting.title }}</h5>
                            <p class="card-text">{{ wlisting.description }}</p>
                            <p class="card-text"><strong>Price: ${{ wlisting.starting_price }}</strong></p>
                            <p><a href="{% url 'bid' wlisting.id %}" class="btn btn-info">Show listing</a></p>
                            {% if user.is_authenticated %}
                                <form action="{% url 'removewatchlist' wlisting.id %}" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Add watch list">
                                </form>
                            {% else %}
                                <p><a href={% url 'login' %}>Login</a> to add in watch list!</p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ wlisting.create_at }} by: {{ wlisting.owner.username }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You need to <a href="{% url 'login' %}">login</p>
    {% endif %}
{% endblock %}
